{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title }} - {{ user.first_name|default:user.username }} {{ user.last_name|default:'' }} - {{ block.super }}
{% endblock %}}

{% block main %}
<h1>Профиль пользователя {{ user.username }}</h1>
<ul>
    <li><strong>Пользователь:</strong> {{user.username }}</li>
    <li><strong>Email:</strong> {{ user.email|default:'Не задан' }}</li>
    <li><strong>Имя:</strong> {{ user.first_name|default:'Не задан' }}</li>
    <li><strong>Фамилия:</strong> {{ user.last_name|default:'Не задан' }}</li>
    <li><strong>Возраст:</strong> {{ user.age|default:'Не задан' }}</li>
    <li><img src="{{ user.avatar }}" alt="Аватарка"></li>
    <li><strong>Теги: </strong>{{ user.bookuserprofile.tigline|default:'Не заданы' }}</li>
    <li><strong>Пол: </strong>{{ user.bookuserprofile.gender|default:'Не указан' }}</li>
    <li><strong>О себе:</strong> {{ user.bookuserprofile.about_me }}</li>
</ul>
<p><a href="{% url 'auth:edit' %}">Изменить.</a></p>
{% if not user.is_active %}
<p>Вы не активировали свой аккаунт. <a href="{% url 'auth:verify' user.email user.activation_key %}">Отправить активационное письмо?</a></p>
{% endif %}
{% endblock %}