<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин электронных книг | Контакты</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <nav class="mainmenu">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog/">Каталог</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Контакты магазина</h1>
        <div>
            форма обратной связи
        </div>
        <div>
            <address>
                <p>Россия, Саратов</p>
                <p>E-Mail: du@mail.ru</p>
                <p>Телефон: +7(8452)00-00-00</p>
            </address>
            
        </div>
    </main>
    <footer>
        <div>&copy; Михаил Духонин, 2021</div>
    </footer>
</body>
</html>