{% extends './base.html' %}
{% load static %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block main %}
<h1>{{ title }}</h1>
<div>
    <p><strong>Пользователь: </strong>{{ user.username }}</p>
    <p><strong>E-mail: </strong>{{ user.email }}</p>
    <p><strong>Имя: </strong>{{ user.first_name|default:'Отсутствует' }}</p>
    <p><strong>Фамилия: </strong>{{ user.last_name|default:'Отсутствует' }}</p>
    <p><strong>Возраст: </strong>{{ user.age }}</p>
    <p><strong>Активен: </strong>{{ user.is_active }}</p>
    <p><strong>Администрация: </strong>{{ user.is_staff }}</p>
    <p><strong>Суперпользователь: </strong>{{ user.is_superuser }}</p>
    <p><strong>Последний вход: </strong>{{ user.last_login }}</p>
</div>
{% endblock %}